<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.wenyl.bs.dlt698.rs485.mapper.CarbonDeviceMessageMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.com.wenyl.bs.dlt698.common.entity.CarbonDeviceMessage">
        <id column="id" property="id" />
        <result column="job_id" property="jobId" />
        <result column="operate_name" property="operateName" />
        <result column="send_byte_str" property="sendByteStr" />
        <result column="receive_byte_str" property="receiveByteStr" />
        <result column="value_json" property="valueJson" />
        <result column="value_label" property="valueLabel" />
        <result column="value_sign" property="valueSign" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, job_id, operate_name, send_byte_str, receive_byte_str,value_json,value_label,value_sign
    </sql>

</mapper>
